{{ define "main" }}
    <header class="header">
        {{ partial "header.html" (dict "title"    site.Title 
                                       "subtitle" "Research Professor in Computer Science" 
                                       "menuID"   "academic" 
                                       "section"  .) }}
    </header>
    <main class="academic-activity-container">
        <div class="academic-activity-content">
            <p>My scholarly activity feed.</p>
            <ul class="academic-activity-feed">
                {{ range (where site.RegularPages "Type" "academic").ByDate.Reverse }}
                    <li class="academic-activity-feed-item" id="{{ .File.BaseFileName }}">                        
                        <h4>{{ .Title | safeHTML }}</h4>
                        <ul class="academic-activity-fields">                                                       
                                <li class="academic-activity-field">
                                    <span>authors:</span>
                                    <span>{{ delimit .Params.activity.authors ", " }}</span>
                                </li>                                
                                <li class="academic-activity-field">
                                {{ with .Params.activity.resource }}
                                    {{ if eq .type "doi"}}
                                        doi: <a href="https://doi.org/{{.value}}">{{.value}}</a>
                                    {{ end }}
                                {{ end }}
                                </li>
                                <li class="academic-activity-field">
                                <ul class="academic-activity-tags">
                                    <li class="academic-activity-tag">{{.Params.activity.type}}</li>
                                    {{ range .Params.activity.tags}}  
                                        <li class="academic-activity-tag">{{.}}</li>
                                    {{ end }}                          
                                </ul>
                                </li>
                        </ul>  
                    </li>
                {{ end }}
            </ul>
        </div>
    </main>
    <!-- Footer -->
    <footer class="footer">
      {{ partial "footer.html" . }}
    </footer> 
{{ end }}