@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

:root {
  --bg-color: #000000;
  --bg-secondary-color: #ffffff;
  --card-bg: #121212;
  --text-color: #ffffff;
  --text-secondary-color: hsl(0,0%,0%);
  --text-muted: #cbc9c9;
  --border-color: #ffffff;
  --button-color: hsl(0,0%,40%);
  --blog-button-color: hsl(0,0%,24%);
  --button-secondary-color: hsl(0,0%,100%);
  --screen-breakpoint: 768px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-size: large;
  font-family: "Encode Sans Expanded", Arial, Helvetica, sans-serif;
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

.nav-bar-link {
  display: block;
  color: var(--link-color);
}

.active-link {
  border: 1px solid rgb(255, 255, 255);
}

.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;  
}

.container > * {
  /* border: 1px solid rgb(255, 255, 255); */
  padding: 0px;
  grid-column: col-start / span 12;
}

.navbar {  
  display: block;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none; 
  gap: 1rem;
  padding: 0;
  margin: 0.3rem;
}

.navbar-menu-button a {
  color: var(--text-color);
  background-color: var(--button-color);
  text-decoration: none;
  font-size: 1.0rem;
  font-weight: 500;
  transition: color 0.2s;
  width: 135px;
  text-align: center;
  margin: 0;  
  border-radius: 8px;
}

.navbar-menu li a:hover {  
  background-color: var(--bg-color);
  border: 1px var(--border-color) solid;
}

.header {
  grid-area: "header";
  /* border-bottom: 1px solid rgb(255, 255, 255); */
}

.navbar-title-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.navbar-title {
  font-size: 1.4rem;
  text-align: center;          
  margin: 0;           
} 

.subtitle {    
  font-size: 0.70rem; /* 11.5pt */      
  margin: 0;  
}

.large-button {
  display: block;
  text-align: center;
  background-color: var(--button-color);
  text-decoration: none;
  color: var(--text-color);
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;  
  width: 180px; 
}

.large-button:hover {
  color: var(--text-muted);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid rgb(255, 255, 255);
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 5px;
  gap: 25px;
  font-size: small;
}

.footer h3 {
  padding: 0;
  margin: 0;
  font-size: 1.08rem /* 13pt */;
}

.footer .address {
  flex: 1;
}

.footer .address p {
  padding: 0;
  margin: 0;
}

.footer .hours {
  flex: 1;  
}

.hours .hours-container {
  display: grid;
  /* Column 1: width based on content, right-aligned */
  /* Column 2: width based on content, left-aligned */
  grid-template-columns: max-content max-content;
  gap: 3px 5px; /* Vertical gap, Horizontal gap */
  align-items: center;
}

.hours .day {
  text-align: right;
}

.hours .time {
  text-align: left;
}

.footer .contact {
  flex: 1;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-description {
  max-width: 33rem;
}

.blog-frontmatter {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: start;
}

.blog-frontmatter ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

.blog-frontmatter ul li {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: var(--blog-button-color);
  border:  1px #ffffff solid;
  border-radius: 8px;
  padding: 5.5px;
  padding-left: 8px;
}

.blog-frontmatter li:hover {  
  background-color: var(--bg-color);
}

.blog-frontmatter ul li:nth-child(odd) {
  background-color: var(--button-secondary-color);
  color: var(--text-secondary-color);
}

.blog-frontmatter li:nth-child(odd) a {  
  color: var(--text-secondary-color);
}

.blog-frontmatter li:nth-child(odd):hover {  
  background-color: var(--bg-color);
  color: var(--text-color);
}

.blog-frontmatter li:nth-child(odd):hover a {  
  background-color: var(--bg-color);
  color: var(--text-color);
}

.blog-post-list-instructions {
  margin: 0;
  margin-bottom: 5px;
  font-size: medium;
}

.blog-frontmatter a {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-decoration: none;
}

.blog-post-title {    
  margin: 0;
  padding: 0;
}

.blog-post-date {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

/* Home */
.home-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 10pt;
    padding: 10px;
    margin: 0;
    width: 100%;  
}

.home-left {
    display: flex;
    align-items: center;  
    justify-content: center;  
    margin: 0;
    padding: 0;
    width: 100%;
}

.home-left img {
  width: 80%;
  padding: 0;
  margin: 0;
  border-radius: 8px;
}

.description-container {
    align-items: center;
    justify-content: center;
    padding-right: 5px;
    margin: 0; 
    padding: 0;  
    width: 100%;
    font-size: medium;
}

.description-container p {
    padding: 0px;
    margin: 0;
}


/* Tablets, Laptops, and Desktops (768px and up) */
@media (min-width: 500px) {  
  .navbar-title {
    font-size: 2rem;         
  } 

  .subtitle {
    font-size: small;                
  }   

  .footer {  
    flex-direction: row;    
  }

  .home-container {
    flex-direction: row;
  }

  .description-container {
    align-content: center;
  }

  .home-left img {
    width: 60%;
  }
}
