@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Encode Sans Expanded";
    src: url("../fonts/EncodeSansExpanded-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

:root {
  --bg-color: #000000;
  --bg-secondary-color: #ffffff;
  --card-bg: #121212;
  --text-color: #ffffff;
  --text-secondary-color: hsl(0,0%,0%);
  --text-muted: #cbc9c9;
  --border-color: #ffffff;
  --button-color: hsl(0,0%,40%);
  --blog-button-color: hsl(0,0%,24%);
  --button-secondary-color: hsl(0,0%,100%);
  --screen-breakpoint: 768px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-size: large;
  font-family: "Encode Sans Expanded", Arial, Helvetica, sans-serif;  
}

a {
  color: var(--text-color);
  text-decoration: underline;
}

.nav-bar-link {
  display: block;
  color: var(--link-color);
}

.active-link {
  border: 1px solid rgb(255, 255, 255);
}

.navbar {  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container {
  display: flex;
  flex-direction: row;  
}

.navbar-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none; 
  gap: 1rem;
  padding: 0;
  margin: 0.5rem;
}

.navbar-menu-button a {
  color: var(--text-color);
  background-color: var(--button-color);
  text-decoration: none;
  font-size: 1.0rem;
  font-weight: 500;
  transition: color 0.2s;
  width: 100px;
  text-align: center;
  margin: 0;  
  border-radius: 8px;
}

.navbar-menu li a:hover {  
  background-color: var(--bg-color);
  border: 1px var(--border-color) solid;
}

.header {
  grid-area: "header";
  /* border-bottom: 1px solid rgb(255, 255, 255); */
}

.navbar-title-container {
  display: flex;
  flex-direction: column; 
}

.navbar-title {
  font-size: 1.4rem;
  text-align: center;          
  margin: 0;           
} 

.subtitle {    
  font-size: 0.70rem; /* 11.5pt */      
  margin: 0;  
}

.large-button {
  display: block;
  text-align: center;
  background-color: var(--button-color);
  text-decoration: none;
  color: var(--text-color);
  font-size: x-large;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;  
  width: 180px; 
}

.large-button:hover {
  color: var(--text-muted);
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(255, 255, 255);
  font-size: small;
  width: 100%;
  min-height: 30px;
  margin-top: 10px;  
  padding: 10px;  
}

.hours .hours-container {
  display: grid;
  /* Column 1: width based on content, right-aligned */
  /* Column 2: width based on content, left-aligned */
  grid-template-columns: max-content max-content;
  gap: 3px 5px; /* Vertical gap, Horizontal gap */
  align-items: center;
}

.hours .day {
  text-align: right;
}

.hours .time {
  text-align: left;
}

.footer .contact {
  flex: 1;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-description {
  max-width: 33rem;
}

.blog-frontmatter {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: start;
}

.blog-frontmatter ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

.blog-frontmatter ul li {
  display: flex;
  flex-direction: column;
  gap: 3px;
  background-color: var(--blog-button-color);
  border:  1px #ffffff solid;
  border-radius: 8px;
  padding: 5.5px;
  padding-left: 8px;
}

.blog-frontmatter li:hover {  
  background-color: var(--bg-color);
}

.blog-frontmatter ul li:nth-child(odd) {
  background-color: var(--button-secondary-color);
  color: var(--text-secondary-color);
}

.blog-frontmatter li:nth-child(odd) a {  
  color: var(--text-secondary-color);
}

.blog-frontmatter li:nth-child(odd):hover {  
  background-color: var(--bg-color);
  color: var(--text-color);
}

.blog-frontmatter li:nth-child(odd):hover a {  
  background-color: var(--bg-color);
  color: var(--text-color);
}

.blog-post-list-instructions {
  margin: 0;
  margin-bottom: 5px;
  font-size: medium;
}

.blog-frontmatter a {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-decoration: none;
}

.blog-post-title {    
  margin: 0;
  padding: 0;
}

.blog-post-date {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
}

/* Home */
.home-container {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0;
    width: 100%; 
    min-height: 100dvh; 
}

.home-content {
    justify-content: center;  
    align-content: center;  
}

.home-content-menu-descr {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-content p {
  display: flex;
  justify-content: center;
  
}

@media (max-width: 390px) {
  .home-content p {
    width: 250px;
  }
}

@media (min-width: 500px) {  
  .navbar-title {
    font-size:xx-large;         
  } 

  .subtitle {
    font-size: large;                
  }   
}

/* Academic */
.academic-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    gap: 0px;
    margin: 0;
    width: 100%;    
}

.academic-home-main p {
  margin: 10px;
}

.academic-home-main h4 {
  margin: 10px;
}

.academic-home-main ul {
  margin: 0px;
}

.academic-activity-container {
  display: flex;  
  flex-direction: column;
  align-items: center;
  padding: 5px;
  min-height: 100%;
}

.academic-activity-feed {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-right: 10px;  
}

.academic-activity-feed-item {
  display: flex;
  flex-direction: column;
  font-size: medium;  
  border: 1px solid;
  border-radius: 8px;
  padding: 5px;
  max-width: 300pt;
}

.academic-activity-feed-item a {  
  font-size: small;
  
}

.academic-activity-feed-item h4 {  
  font-size: small;
  padding: 0;
  margin: 0;
}

.academic-activity-fields {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  gap: 5px;
}

.academic-activity-authors {
  display: flex;
  gap: 5px;  
  font-size: small;
}

.academic-activity-venue {
  display: flex;
  flex-direction: column;
  font-size: small;
  margin: 0; 
}

.academic-activity-venue p {
  margin: 0;
  padding-left: 10px;
  font-size: small;
}

.academic-activity-meta {
  display: flex;
  flex-direction: column;
  font-size: small;
  padding-top: 5px;
  gap: 5px;
}

.academic-activity-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5px;
  padding: 0;
  gap: 10px;
  font-size: small;
}

.academic-activity-tag {
  display: flex;
  font-size: small;
  border: 1px solid;
  border-radius: 8px;
  padding: 2px;
  padding-right: 4px;
  padding-left: 4px;
  font-size: x-small;
}
