{{ define "main" }}
<div class="blog-container">
    <div class="blog-frontmatter">
        <p class="blog-description">I like to write, because it helps me learn. Here I'll be writing about
        things I'm learning, giving updates on my coaching, and anything else I
        think of.
        </p>
        <p class="blog-post-list-instructions">Click a post below</p>
        <ul>
            {{ range (where site.RegularPages "Type" "blog").ByDate.Reverse }}
                <li id="{{ .File.BaseFileName }}">
                    <a href="{{ .RelPermalink }}">
                        {{ .Title | safeHTML }}
                    </a>                    
                    <p class="blog-post-date">{{ .Date | safeHTML }}</p>
                </li>
            {{ end }}
        </ul>
    </div>
</div>
{{ end }}